@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
  margin: 0;

}
#root{
    background-color: #F0FCFC;
}
.Home{
  display: flex;
  flex-direction: column;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.homeHead{
  text-align: center;
  margin-top: 5vh;
}


.utils-grid{
  display: flex;
  height: 55vh;
  width: 93vw;
  justify-content: space-between;
  margin-left: 10vh;
  margin-top: 4vh;
  flex-direction: row;
}

.ongoing-plans{
  width: 35vw;
  flex: 1;
  margin-left: 2vh;
  font-size: 30px;
}

.plans-group{
  display: flex;
}

.project-count{
  width: 31vw;
  font-size: 30px;
}

.Plans-grid{
  display: flex;
  width: 50vw;
  min-height: 50vh;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20vh;
  margin-top: 5vh;
  margin-left: 10vh;
  padding: 15px;
}

.project-title{
  display: flex;
  justify-content: space-evenly;
  width: 85vw;
  margin-left: 10vh;
}

.project-grid{
  margin-top: 7vh;
  margin-left: 5vh;
}

.project-btn{
  padding: 10px 30px 10px 30px;
  background-color: rgb(79, 199, 79);
  outline: none;
  border: 1px solid black;
  border-radius: 5px;
  color: white;
}

/* Detailed Report */


.Detailed-ReportContainer{
    display: flex;
    font-family: "Roboto";
    justify-content: center;
}


.Report-Container{
    margin-top: 10vh;
    width: 50vw;
    height: 80vh;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(164, 164, 164, 0.2), 0 6px 20px 0 rgba(126, 125, 125, 0.19);
}

.Report-Map{
  width: 25vw;
  height: 50vh;
  margin-left: 15vh;
  margin-top: 10vh;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(164, 164, 164, 0.2), 0 6px 20px 0 rgba(126, 125, 125, 0.19);
}

.Report-MapCordinates{
  width: 25vw;
  height: 26vh;
  margin-left: 15vh;
  margin-top: 3vh;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(164, 164, 164, 0.2), 0 6px 20px 0 rgba(126, 125, 125, 0.19);
}

.Agency-Container{
  display: flex;
  align-items: center;
  margin-top: 5vh;
  margin-left: 5vh;
  width: 45vw;
  border-radius: 10px;
  height: 20vh;
  border: 1px solid #B6B6B6;
}

.agencyName{
  margin-left: 5vh;
}

.profile-container{
  display: flex;
}

.agency-logo{
  display: flex;
  width: 10vh;
  height: 10vh;
  margin-left: 5vh;
  border-radius: 180px;
  border: 1px solid black;  
}

.ConstructionInfo-Container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45vw;
  height: 40vh;
  border: 1px solid #B6B6B6;
  border-radius: 10px;
  margin-left: 5vh;
  margin-top: 10vh;
}

.construction-group1{
  display: flex;
  margin-top: 4vh;
  height: 6vh;
  width: 35vw;
}

.construction-group1 p{
  margin-top: 1vh;
}

.Report-MapCordinates{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 5px;
}

.Locations{
  width: 40vh;
  margin-top: 3vh;
}

.Locations p{
  margin-bottom: 20px;
}