*{
  margin: 0;

}
#root{
    background-color: #F0FCFC;
}
.Home{
  display: flex;
  flex-direction: column;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.homeHead{
  text-align: center;
  margin-top: 5vh;
}


.utils-grid{
  display: flex;
  height: 55vh;
  width: 93vw;
  justify-content: space-between;
  margin-left: 10vh;
  margin-top: 4vh;
  flex-direction: row;
}

.ongoing-plans{
  width: 35vw;
  flex: 1;
  margin-left: 2vh;
  font-size: 30px;
}

.plans-group{
  display: flex;
}

.project-count{
  width: 31vw;
  font-size: 30px;
}

.Plans-grid{
  display: flex;
  width: 50vw;
  min-height: 50vh;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20vh;
  margin-top: 5vh;
  margin-left: 10vh;
  padding: 15px;
}

.project-title{
  display: flex;
  justify-content: space-evenly;
  width: 85vw;
  margin-left: 10vh;
}

.project-grid{
  margin-top: 7vh;
  margin-left: 5vh;
}

.project-btn{
  padding: 10px 30px 10px 30px;
  background-color: rgb(79, 199, 79);
  outline: none;
  border: 1px solid black;
  border-radius: 5px;
  color: white;
}