*{
  margin: 0;
  background-color: #F0FCFC;

}

.Home{
  display: flex;
  height: 50vh;
  flex-direction: column;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.homeHead{
  text-align: center;
  margin-top: 5vh;
}

.Map-grid{
  margin-left: 20vh;
  margin-top: 10vh;
}